[submodule "include/nanogui"]
	path = include/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "include/tinyobjloader"]
	path = include/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
